In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
import datetime as date

### Extract CSVs into Dataframes

#### reformat the female data

In [2]:
# Save data from path in new variable
pop_female = "data/WPP2019_POP_F07_3_POPULATION_BY_AGE_FEMALE.csv"

# Use Pandas to read female data
pop_fem_df = pd.read_csv(pop_female)
pop_fem_df = pop_fem_df[pop_fem_df['Country code'] == 840]
pop_fem_df

,Index,Variant,Region,Notes,Country code,Type,Parent code,Reference date (as of 1 July),0-4,5-9,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
1,4811,Estimates,United States of America,29,840.0,Country/Area,918.0,1950.0,8424.578,6740.604,...,3853.162,3381.455,2871.965,1867.607,1193.194,566.626,302.498,120.379,31.581,5.067
2,4812,Estimates,United States of America,29,840.0,Country/Area,918.0,1955.0,9434.65,8402.276,...,4155.577,3729.815,3119.761,2346.763,1449.914,826.031,294.848,113.475,29.31,4.953
3,4813,Estimates,United States of America,29,840.0,Country/Area,918.0,1960.0,10151.001,9444.156,...,4821.32,4013.554,3395.273,2598.108,1876.347,989.228,434.227,110.293,27.309,4.407
4,4814,Estimates,United States of America,29,840.0,Country/Area,918.0,1965.0,9677.523,10200.458,...,5209.85,4482.121,3674.554,2988.48,2113.191,1268.692,528.098,163.644,26.413,3.962
5,4815,Estimates,United States of America,29,840.0,Country/Area,918.0,1970.0,8612.748,9874.288,...,5369.003,4846.267,4186.31,3224.592,2408.11,1498.806,700.102,207.375,40.814,3.996
6,4816,Estimates,United States of America,29,840.0,Country/Area,918.0,1975.0,8074.567,8724.133,...,5624.248,5053.235,4623.262,3586.532,2692.097,1834.765,870.176,295.184,56.288,6.475
7,4817,Estimates,United States of America,29,840.0,Country/Area,918.0,1980.0,8032.156,8150.446,...,6113.344,5443.734,4870.903,4126.846,3137.122,1928.991,1137.316,402.777,90.354,10.276
8,4818,Estimates,United States of America,29,840.0,Country/Area,918.0,1985.0,8684.322,8150.306,...,5918.781,5835.892,5191.179,4337.451,3534.271,2370.315,1223.944,544.753,128.53,17.261
9,4819,Estimates,United States of America,29,840.0,Country/Area,918.0,1990.0,9398.321,8798.684,...,5478.526,5701.565,5553.424,4642.514,3727.245,2685.961,1525.725,589.709,171.891,24.072
10,4820,Estimates,United States of America,29,840.0,Country/Area,918.0,1995.0,9758,9535.909,...,5741.546,5284.251,5383.7,4952.641,3975.332,2770.522,1765.858,758.621,191.566,33.378
11,4821,Estimates,United States of America,29,840.0,Country/Area,918.0,2000.0,9563.676,10176.5,...,6944.267,5643.768,5071.324,4902.578,4325.729,3126.458,1806.518,854.111,233.072,34.711
12,4822,Estimates,United States of America,29,840.0,Country/Area,918.0,2005.0,9907.891,9656.077,...,8866.875,6784.402,5415.706,4679.099,4256.551,3306.226,2050.456,866.352,253.107,38.271
13,4823,Estimates,United States of America,29,840.0,Country/Area,918.0,2010.0,10208.213,10093.069,...,10096.178,8678.792,6536.938,5012.471,4093.241,3471.048,2264.765,1042.267,275.414,44.592
14,4824,Estimates,United States of America,29,840.0,Country/Area,918.0,2015.0,9742.839,10265.653,...,10961.28,9798.103,8285.448,6071.132,4447.56,3344.864,2441.639,1208.999,355.017,53.572
15,4825,Estimates,United States of America,29,840.0,Country/Area,918.0,2020.0,9621.269,9798.759,...,10840.205,10619.257,9353.753,7709.344,5400.748,3655.579,2372.445,1348.005,447.633,76.312

In [3]:
# rename the columns
clean_female_df = pop_fem_df.rename(columns={'Reference date (as of 1 July)':'Year','0-4':'r_0_4','5-9':'r_5_9',
                                             '10-14':'r_10_14','15-19':'r_15_19','20-24':'r_20_24','25-29':'r_25_29',
                                             '30-34':'r_30_34','35-39':'r_35_39','40-44':'r_40_44','45-49':'r_45_49',
                                             '50-54':'r_50_54','55-59':'r_55_59','60-64':'r_60_64',
                                             '65-69':'r_65_69','70-74':'r_70_74','75-79':'r_75_79','80-84':'r_80_84',
                                             '85-89':'r_85_89','90-94':'r_90_94','95-99':'r_95_99','100+':'r_100_105'})
# new df columns 
few_female_df = clean_female_df[['Index','Year','r_0_4','r_5_9','r_10_14','r_15_19','r_20_24','r_25_29','r_30_34','r_35_39','r_40_44','r_45_49','r_50_54',"r_55_59","r_60_64","r_65_69","r_70_74","r_75_79","r_80_84","r_85_89","r_90_94","r_95_99","r_100_105"]].copy()
few_female_df

,Index,Year,r_0_4,r_5_9,r_10_14,r_15_19,r_20_24,r_25_29,r_30_34,r_35_39,...,r_55_59,r_60_64,r_65_69,r_70_74,r_75_79,r_80_84,r_85_89,r_90_94,r_95_99,r_100_105
1,4811,1950.0,8424.578,6740.604,5684.493,5549.266,6144.93,6464.906,6098.963,5811.561,...,3853.162,3381.455,2871.965,1867.607,1193.194,566.626,302.498,120.379,31.581,5.067
2,4812,1955.0,9434.65,8402.276,6800.686,5680.138,5564.184,6136.105,6465.197,6073.502,...,4155.577,3729.815,3119.761,2346.763,1449.914,826.031,294.848,113.475,29.31,4.953
3,4813,1960.0,10151.001,9444.156,8450.744,6764.958,5787.865,5651.619,6203.938,6465.724,...,4821.32,4013.554,3395.273,2598.108,1876.347,989.228,434.227,110.293,27.309,4.407
4,4814,1965.0,9677.523,10200.458,9500.795,8517.4,6960.259,5858.32,5687.943,6195.401,...,5209.85,4482.121,3674.554,2988.48,2113.191,1268.692,528.098,163.644,26.413,3.962
5,4815,1970.0,8612.748,9874.288,10255.726,9565.128,8603.567,6962.465,5926.118,5707.236,...,5369.003,4846.267,4186.31,3224.592,2408.11,1498.806,700.102,207.375,40.814,3.996
6,4816,1975.0,8074.567,8724.133,9994.424,10384.109,9732.027,8731.439,7140.476,5933.424,...,5624.248,5053.235,4623.262,3586.532,2692.097,1834.765,870.176,295.184,56.288,6.475
7,4817,1980.0,8032.156,8150.446,8916.537,10206.011,10621.793,9917.118,8957.883,7147.012,...,6113.344,5443.734,4870.903,4126.846,3137.122,1928.991,1137.316,402.777,90.354,10.276
8,4818,1985.0,8684.322,8150.306,8382.332,9175.38,10407.366,10788.64,10140.347,8940.506,...,5918.781,5835.892,5191.179,4337.451,3534.271,2370.315,1223.944,544.753,128.53,17.261
9,4819,1990.0,9398.321,8798.684,8491.003,8722.415,9413.108,10468.975,11017.463,10147.751,...,5478.526,5701.565,5553.424,4642.514,3727.245,2685.961,1525.725,589.709,171.891,24.072
10,4820,1995.0,9758,9535.909,9221.144,8888.047,8942.136,9648.487,10882.477,11111.93,...,5741.546,5284.251,5383.7,4952.641,3975.332,2770.522,1765.858,758.621,191.566,33.378
11,4821,2000.0,9563.676,10176.5,10119.062,9710.357,9329.933,9523.399,10096.342,11126.992,...,6944.267,5643.768,5071.324,4902.578,4325.729,3126.458,1806.518,854.111,233.072,34.711
12,4822,2005.0,9907.891,9656.077,10512.572,10473.588,10069.76,9669.81,9801.989,10297.08,...,8866.875,6784.402,5415.706,4679.099,4256.551,3306.226,2050.456,866.352,253.107,38.271
13,4823,2010.0,10208.213,10093.069,10198.921,10799.571,10634.567,10293.776,9925.061,10012.876,...,10096.178,8678.792,6536.938,5012.471,4093.241,3471.048,2264.765,1042.267,275.414,44.592
14,4824,2015.0,9742.839,10265.653,10142.353,10476.88,11279.533,11070.461,10597.46,10106.222,...,10961.28,9798.103,8285.448,6071.132,4447.56,3344.864,2441.639,1208.999,355.017,53.572
15,4825,2020.0,9621.269,9798.759,10311.974,10408.587,10936.013,11690.875,11349.965,10756.92,...,10840.205,10619.257,9353.753,7709.344,5400.748,3655.579,2372.445,1348.005,447.633,76.312

In [4]:
# clean up the data...add column and data, remove space and change the type

few_female_df['Sex']='Female'
few_female_df['r_0_4'] = few_female_df['r_0_4'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_5_9'] = few_female_df['r_5_9'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_10_14'] = few_female_df['r_10_14'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_15_19'] = few_female_df['r_15_19'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_20_24'] = few_female_df['r_20_24'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_25_29'] = few_female_df['r_25_29'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_30_34'] = few_female_df['r_30_34'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_35_39'] = few_female_df['r_35_39'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_40_44'] = few_female_df['r_40_44'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_45_49'] = few_female_df['r_45_49'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_50_54'] = few_female_df['r_50_54'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_55_59'] = few_female_df['r_55_59'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_60_64'] = few_female_df['r_60_64'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_65_69'] = few_female_df['r_65_69'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_70_74'] = few_female_df['r_70_74'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_75_79'] = few_female_df['r_75_79'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_80_84'] = few_female_df['r_80_84'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_85_89'] = few_female_df['r_85_89'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_90_94'] = few_female_df['r_90_94'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_95_99'] = few_female_df['r_95_99'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_100_105'] = few_female_df['r_100_105'].str.replace(" ","").astype('float').round().astype('int')

few_female_df

,Index,Year,r_0_4,r_5_9,r_10_14,r_15_19,r_20_24,r_25_29,r_30_34,r_35_39,...,r_60_64,r_65_69,r_70_74,r_75_79,r_80_84,r_85_89,r_90_94,r_95_99,r_100_105,Sex
1,4811,1950.0,8425,6741,5684,5549,6145,6465,6099,5812,...,3381,2872,1868,1193,567,302,120,32,5,Female
2,4812,1955.0,9435,8402,6801,5680,5564,6136,6465,6074,...,3730,3120,2347,1450,826,295,113,29,5,Female
3,4813,1960.0,10151,9444,8451,6765,5788,5652,6204,6466,...,4014,3395,2598,1876,989,434,110,27,4,Female
4,4814,1965.0,9678,10200,9501,8517,6960,5858,5688,6195,...,4482,3675,2988,2113,1269,528,164,26,4,Female
5,4815,1970.0,8613,9874,10256,9565,8604,6962,5926,5707,...,4846,4186,3225,2408,1499,700,207,41,4,Female
6,4816,1975.0,8075,8724,9994,10384,9732,8731,7140,5933,...,5053,4623,3587,2692,1835,870,295,56,6,Female
7,4817,1980.0,8032,8150,8917,10206,10622,9917,8958,7147,...,5444,4871,4127,3137,1929,1137,403,90,10,Female
8,4818,1985.0,8684,8150,8382,9175,10407,10789,10140,8941,...,5836,5191,4337,3534,2370,1224,545,129,17,Female
9,4819,1990.0,9398,8799,8491,8722,9413,10469,11017,10148,...,5702,5553,4643,3727,2686,1526,590,172,24,Female
10,4820,1995.0,9758,9536,9221,8888,8942,9648,10882,11112,...,5284,5384,4953,3975,2771,1766,759,192,33,Female
11,4821,2000.0,9564,10176,10119,9710,9330,9523,10096,11127,...,5644,5071,4903,4326,3126,1807,854,233,35,Female
12,4822,2005.0,9908,9656,10513,10474,10070,9670,9802,10297,...,6784,5416,4679,4257,3306,2050,866,253,38,Female
13,4823,2010.0,10208,10093,10199,10800,10635,10294,9925,10013,...,8679,6537,5012,4093,3471,2265,1042,275,45,Female
14,4824,2015.0,9743,10266,10142,10477,11280,11070,10597,10106,...,9798,8285,6071,4448,3345,2442,1209,355,54,Female
15,4825,2020.0,9621,9799,10312,10409,10936,11691,11350,10757,...,10619,9354,7709,5401,3656,2372,1348,448,76,Female

#### reformat the male data

In [5]:
# Save data from path in new variable
pop_male = "data/WPP2019_POP_F07_2_POPULATION_BY_AGE_MALE.csv"

# Use Pandas to read male data
pop_male_df = pd.read_csv(pop_male)
pop_male_df = pop_male_df[pop_male_df['Country code'] == 840]
pop_male_df.describe()

             Index  Country code  Parent code  Reference date (as of 1 July)
count    15.000000          15.0         15.0                       15.00000
mean   3818.000000         840.0        918.0                     1985.00000
std       4.472136           0.0          0.0                       22.36068
min    3811.000000         840.0        918.0                     1950.00000
25%    3814.500000         840.0        918.0                     1967.50000
50%    3818.000000         840.0        918.0                     1985.00000
75%    3821.500000         840.0        918.0                     2002.50000
max    3825.000000         840.0        918.0                     2020.00000

In [6]:
# rename the columns
clean_male_df = pop_male_df.rename(columns={'Reference date (as of 1 July)':'Year','0-4':'r_0_4','5-9':'r_5_9',
                                             '10-14':'r_10_14','15-19':'r_15_19','20-24':'r_20_24','25-29':'r_25_29',
                                             '30-34':'r_30_34','35-39':'r_35_39','40-44':'r_40_44','45-49':'r_45_49',
                                             '50-54':'r_50_54','55-59':'r_55_59','60-64':'r_60_64',
                                             '65-69':'r_65_69','70-74':'r_70_74','75-79':'r_75_79','80-84':'r_80_84',
                                             '85-89':'r_85_89','90-94':'r_90_94','95-99':'r_95_99','100+':'r_100_105'})
# new df columns... 
few_male_df = clean_male_df[['Index','Year','r_0_4','r_5_9','r_10_14','r_15_19','r_20_24','r_25_29','r_30_34','r_35_39','r_40_44','r_45_49','r_50_54',"r_55_59","r_60_64","r_65_69","r_70_74","r_75_79","r_80_84","r_85_89","r_90_94","r_95_99","r_100_105"]].copy()
few_male_df

,Index,Year,r_0_4,r_5_9,r_10_14,r_15_19,r_20_24,r_25_29,r_30_34,r_35_39,...,r_55_59,r_60_64,r_65_69,r_70_74,r_75_79,r_80_84,r_85_89,r_90_94,r_95_99,r_100_105
3810,3811,1950,8812.309,7044.163,5889.578,5667.77,6104.795,6407.134,6044.505,5750.957,...,3781.547,3303.803,2613.48,1673.111,1022.797,489.418,209.034,63.02,11.804,1.2
3811,3812,1955,9844.404,8795.023,7133.059,5734.871,5372.172,6111.444,6407.476,6028.338,...,3939.501,3517.204,2832.784,1947.474,1192.652,626.044,219.275,65.873,12.915,1.515
3812,3813,1960,10581.516,9844.448,8834.697,6956.779,5741.275,5749.333,6183.4,6403.171,...,4515.242,3573.066,2973.003,2150.147,1408.591,690.28,280.335,68.509,13.257,1.614
3813,3814,1965,10087.043,10653.888,9936.045,8798.904,6924.998,5955.12,5872.3,6177.502,...,4773.954,3974.387,3037.542,2327.553,1559.193,795.221,307.527,86.571,13.493,1.607
3814,3815,1970,9002.242,10375.283,10747.638,9896.528,8241.105,7093.585,6087.607,5808.766,...,4974.308,4201.942,3409.671,2350.27,1638.884,911.938,360.347,97.378,17.481,1.722
3815,3816,1975,8455.834,9063.026,10469.513,10778.025,9936.888,8743.624,7236.45,6033.841,...,5222.887,4470.746,3634.221,2634.244,1684.618,1016.864,428.849,121.235,21.209,2.391
3816,3817,1980,8547.621,8690.319,9692.466,10985.213,10929.571,9998.052,8794.381,6783.284,...,5520.304,4789.296,4094.181,2933.125,2150.709,943.891,505.849,155.004,28.952,3.239
3817,3818,1985,9094.996,8682.843,8954.577,9942.141,11014.22,11103.074,10183.058,8725.454,...,5362.022,5104.523,4286.736,3309.903,2188.685,1337.032,477.44,187.108,37.568,4.459
3818,3819,1990,9842.675,9211.947,8903.179,9222.214,10034.894,10946.788,11140.973,10118.461,...,5045.424,4982.953,4549.437,3539.616,2522.557,1393.091,685.818,176.25,44.397,5.504
3819,3820,1995,10207.957,10002.23,9651.257,9365.431,9301.096,10085.195,11322.221,11232.998,...,5480.916,4745.314,4501.838,3834.231,2755.198,1608.954,735.566,260.351,42.196,6.434
3820,3821,2000,10000.905,10671.51,10607.728,10223.642,9705.899,9761.952,10517.304,11448.082,...,6375.046,5262.559,4378.558,3878.913,3053.384,1883.372,858.119,274.235,58.808,5.606
3821,3822,2005,10362.146,10104.445,11054.862,11095.918,10543.3,9746.126,9892.382,10562.911,...,8326.119,6100.835,4903.147,3862.085,3144.604,2101.53,1047.646,326.557,60.538,6.875
3822,3823,2010,10682.016,10560.883,10692.048,11397.394,11105.992,10481.35,9937.116,9973.477,...,9620.421,7986.626,5718.019,4359.146,3183.16,2331.97,1258.649,436.668,79.016,7.802
3823,3824,2015,10192.623,10736.532,10604.77,10933.184,11808.561,11481.85,10745.591,10090.853,...,10601.54,9137.031,7416.914,5118.763,3670.131,2409.348,1463.24,569.475,118.149,11.591
3824,3825,2020,10055.063,10246.393,10777.513,10834.321,11322.732,12144.455,11702.514,10858.871,...,10702.065,10049.886,8465.274,6645.519,4326.986,2805.623,1538.659,703.131,179.003,20.792

In [7]:
# clean up the data...add column and data, remove space and change the type

few_male_df['Sex']='Male'
few_male_df['r_0_4'] = few_male_df['r_0_4'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_5_9'] = few_male_df['r_5_9'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_10_14'] = few_male_df['r_10_14'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_15_19'] = few_male_df['r_15_19'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_20_24'] = few_male_df['r_20_24'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_25_29'] = few_male_df['r_25_29'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_30_34'] = few_male_df['r_30_34'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_35_39'] = few_male_df['r_35_39'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_40_44'] = few_male_df['r_40_44'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_45_49'] = few_male_df['r_45_49'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_50_54'] = few_male_df['r_50_54'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_55_59'] = few_male_df['r_55_59'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_60_64'] = few_male_df['r_60_64'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_65_69'] = few_male_df['r_65_69'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_70_74'] = few_male_df['r_70_74'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_75_79'] = few_male_df['r_75_79'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_80_84'] = few_male_df['r_80_84'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_85_89'] = few_male_df['r_85_89'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_90_94'] = few_male_df['r_90_94'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_95_99'] = few_male_df['r_95_99'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_100_105'] = few_male_df['r_100_105'].str.replace(" ","").astype('float').round().astype('int')

few_male_df

,Index,Year,r_0_4,r_5_9,r_10_14,r_15_19,r_20_24,r_25_29,r_30_34,r_35_39,...,r_60_64,r_65_69,r_70_74,r_75_79,r_80_84,r_85_89,r_90_94,r_95_99,r_100_105,Sex
3810,3811,1950,8812,7044,5890,5668,6105,6407,6045,5751,...,3304,2613,1673,1023,489,209,63,12,1,Male
3811,3812,1955,9844,8795,7133,5735,5372,6111,6407,6028,...,3517,2833,1947,1193,626,219,66,13,2,Male
3812,3813,1960,10582,9844,8835,6957,5741,5749,6183,6403,...,3573,2973,2150,1409,690,280,69,13,2,Male
3813,3814,1965,10087,10654,9936,8799,6925,5955,5872,6178,...,3974,3038,2328,1559,795,308,87,13,2,Male
3814,3815,1970,9002,10375,10748,9897,8241,7094,6088,5809,...,4202,3410,2350,1639,912,360,97,17,2,Male
3815,3816,1975,8456,9063,10470,10778,9937,8744,7236,6034,...,4471,3634,2634,1685,1017,429,121,21,2,Male
3816,3817,1980,8548,8690,9692,10985,10930,9998,8794,6783,...,4789,4094,2933,2151,944,506,155,29,3,Male
3817,3818,1985,9095,8683,8955,9942,11014,11103,10183,8725,...,5105,4287,3310,2189,1337,477,187,38,4,Male
3818,3819,1990,9843,9212,8903,9222,10035,10947,11141,10118,...,4983,4549,3540,2523,1393,686,176,44,6,Male
3819,3820,1995,10208,10002,9651,9365,9301,10085,11322,11233,...,4745,4502,3834,2755,1609,736,260,42,6,Male
3820,3821,2000,10001,10672,10608,10224,9706,9762,10517,11448,...,5263,4379,3879,3053,1883,858,274,59,6,Male
3821,3822,2005,10362,10104,11055,11096,10543,9746,9892,10563,...,6101,4903,3862,3145,2102,1048,327,61,7,Male
3822,3823,2010,10682,10561,10692,11397,11106,10481,9937,9973,...,7987,5718,4359,3183,2332,1259,437,79,8,Male
3823,3824,2015,10193,10737,10605,10933,11809,11482,10746,10091,...,9137,7417,5119,3670,2409,1463,569,118,12,Male
3824,3825,2020,10055,10246,10778,10834,11323,12144,11703,10859,...,10050,8465,6646,4327,2806,1539,703,179,21,Male

## Database creation
### Create the database connection

In [8]:
from config import username, password

engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/Population')

In [9]:
engine.execute("select * from un_sex_population")

In [10]:
few_male_df.to_sql(name='un_sex_population', con=engine, if_exists='append', index=False)

In [11]:
few_female_df.to_sql(name='un_sex_population', con=engine, if_exists='append', index=False)