In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
import datetime as date

### Extract and format data

In [2]:
# Save data from path in new variable
sexRatio = "data/sex-ratio-by-age.csv"

# Use Pandas to read female data
ratio_df = pd.read_csv(sexRatio)
ratio_df = ratio_df[ratio_df['Code'] == 'USA']
ratio_df.describe()

,Year,100-year olds (males per 100 females),15-year olds (males per 100 females),20-year olds (males per 100 females),30-year olds (males per 100 females),40-year olds (males per 100 females),50-year olds (males per 100 females),60-year olds (males per 100 females),70-year olds (males per 100 females),80-year olds (males per 100 females),90-year olds (males per 100 females)
count,66.000000,26.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,26.000000,26.000000
mean,1982.500000,18.682194,105.055351,103.147297,101.469119,99.485414,96.871675,91.348619,81.563802,67.014487,42.464539
std,19.196354,1.949026,1.649169,3.061526,1.692776,2.057085,1.998277,2.467378,4.345914,4.638082,5.438160
min,1950.000000,16.079663,101.727292,96.902306,98.960500,93.680115,92.820224,88.414670,72.787050,57.994514,35.169986
25%,1966.250000,17.404345,104.144431,100.523383,100.122309,98.829759,95.872571,89.171955,78.720383,63.825256,37.409228
50%,1982.500000,17.972577,104.997455,104.570624,101.376043,99.299431,97.025342,90.753935,80.740380,66.363802,41.937893
75%,1998.750000,19.974852,105.471258,105.164298,102.607061,100.751343,98.147116,93.187516,85.433107,70.378119,46.290936
max,2015.000000,22.860580,109.040968,107.890305,104.790400,102.706894,101.152716,98.450765,89.808080,76.415670,51.533318

In [3]:
# rename the columns
clean_df = ratio_df.rename(columns={'Year':'year','100-year olds (males per 100 females)':'r_100_year_olds','15-year olds (males per 100 females)':'r_15_year_olds',
                                    '20-year olds (males per 100 females)':'r_20_year_olds','30-year olds (males per 100 females)':'r_30_year_olds',
                                    '40-year olds (males per 100 females)':'r_40_year_olds','50-year olds (males per 100 females)':'r_50_year_olds',
                                    '60-year olds (males per 100 females)':'r_60_year_olds','70-year olds (males per 100 females)':'r_70_year_olds',
                                    '80-year olds (males per 100 females)':'r_80_year_olds','90-year olds (males per 100 females)':'r_90_year_olds'})

# new df columns 
new_ratio_df = clean_df[['year','r_15_year_olds','r_20_year_olds','r_30_year_olds','r_40_year_olds','r_50_year_olds','r_60_year_olds',
                         'r_70_year_olds','r_80_year_olds','r_90_year_olds','r_100_year_olds']].copy()
new_ratio_df

,year,r_15_year_olds,r_20_year_olds,r_30_year_olds,r_40_year_olds,r_50_year_olds,r_60_year_olds,r_70_year_olds,r_80_year_olds,r_90_year_olds,r_100_year_olds
14850,1950,102.945373,100.228452,99.111185,99.293995,98.918438,98.450765,89.808080,NaN,NaN,NaN
14851,1951,102.094323,100.070266,99.047032,98.957227,98.677035,97.290858,88.316018,NaN,NaN,NaN
14852,1952,101.727292,99.195498,98.991289,98.795583,98.784021,96.540675,86.590546,NaN,NaN,NaN
14853,1953,101.831922,97.868893,98.960500,98.818856,98.982368,96.031104,85.466380,NaN,NaN,NaN
14854,1954,102.269700,96.942489,99.118085,98.956091,98.928436,95.431223,85.333288,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
14911,2011,105.003492,105.160672,101.025151,100.533676,99.779373,93.601967,86.124156,71.758163,49.225068,18.166678
14912,2012,104.661534,105.172878,101.271403,99.750721,100.239395,93.788571,85.076352,72.528794,50.421883,18.982920
14913,2013,104.426534,105.089616,101.597441,99.227161,100.648650,94.012970,84.720144,73.557555,51.178655,19.957297
14914,2014,104.353125,104.896768,102.019776,99.124764,100.948392,94.291801,85.252197,74.939194,51.088046,20.934918
14915,2015,104.392138,104.651239,102.477261,99.304867,101.152716,94.622011,86.184817,76.415670,51.533318,21.801171

In [4]:
new_ratio_df = new_ratio_df.fillna(0).astype(int)

In [5]:
# clean up the data... change the type

new_ratio_df['r_15_year_olds'] = new_ratio_df['r_15_year_olds'].round().astype('int')
new_ratio_df['r_20_year_olds'] = new_ratio_df['r_20_year_olds'].round().astype('int')
new_ratio_df['r_30_year_olds'] = new_ratio_df['r_30_year_olds'].round().astype('int')
new_ratio_df['r_40_year_olds'] = new_ratio_df['r_40_year_olds'].round().astype('int')
new_ratio_df['r_50_year_olds'] = new_ratio_df['r_50_year_olds'].round().astype('int')
new_ratio_df['r_60_year_olds'] = new_ratio_df['r_60_year_olds'].round().astype('int')
new_ratio_df['r_70_year_olds'] = new_ratio_df['r_70_year_olds'].round().astype('int')
new_ratio_df['r_80_year_olds'] = new_ratio_df['r_80_year_olds'].round().astype('int')
new_ratio_df['r_90_year_olds'] = new_ratio_df['r_90_year_olds'].round().astype('int')
new_ratio_df['r_100_year_olds'] = new_ratio_df['r_100_year_olds'].round().astype('int')

new_ratio_df

,year,r_15_year_olds,r_20_year_olds,r_30_year_olds,r_40_year_olds,r_50_year_olds,r_60_year_olds,r_70_year_olds,r_80_year_olds,r_90_year_olds,r_100_year_olds
14850,1950,102,100,99,99,98,98,89,0,0,0
14851,1951,102,100,99,98,98,97,88,0,0,0
14852,1952,101,99,98,98,98,96,86,0,0,0
14853,1953,101,97,98,98,98,96,85,0,0,0
14854,1954,102,96,99,98,98,95,85,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
14911,2011,105,105,101,100,99,93,86,71,49,18
14912,2012,104,105,101,99,100,93,85,72,50,18
14913,2013,104,105,101,99,100,94,84,73,51,19
14914,2014,104,104,102,99,100,94,85,74,51,20
14915,2015,104,104,102,99,101,94,86,76,51,21

In [6]:
from config import username, password

engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/Population')

In [7]:
new_ratio_df.to_sql(name='age_ratio_population', con=engine, if_exists='append', index=True)